<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>label</key>
		<string>自助餐</string>
	</dict>
	<dict>
		<key>label</key>
		<string>小吃快餐</string>
	</dict>
	<dict>
		<key>label</key>
		<string>烧烤烤肉</string>
	</dict>
	<dict>
		<key>label</key>
		<string>咖啡厅</string>
	</dict>
	<dict>
		<key>label</key>
		<string>日韩料理</string>
	</dict>
	<dict>
		<key>label</key>
		<string>火锅</string>
	</dict>
	<dict>
		<key>label</key>
		<string>西餐</string>
	</dict>
	<dict>
		<key>label</key>
		<string>面包甜点</string>
	</dict>
	<dict>
		<key>label</key>
		<string>海鲜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>新疆/清真</string>
	</dict>
	<dict>
		<key>label</key>
		<string>鲁菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>湖北菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>东南亚菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>东北菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>江浙菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>粤菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>川菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>湘菜</string>
	</dict>
	<dict>
		<key>label</key>
		<string>茶餐厅</string>
	</dict>
</array>
</plist>
